{% extends "base.html" %}
{% block title %}Change Password — GSSBDC WING{% endblock %}
{% block content %}
<h2>Change My Password</h2>
    <hr>

    {% if error %}
        <div class="flash-error">{{ error }}</div>
    {% endif %}
    {% if message %}
        <div class="flash-ok">{{ message }}</div>
    {% endif %}

    <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label>Current Password:</label><br>
        <input type="password" name="current_password" required><br><br>

        <label>New Password:</label><br>
        <input type="password" name="new_password" required minlength="4"><br><br>

        <button type="submit">Change Password</button>
    </form>
{% endblock %}